.header 
{
    background-color: white;
    min-height: 50px;
    text-align: center;
}

.content
{
    background-color: #ddd;
    min-height: 500px;
    float: left;
}

.footer
{
    background-color: #ccc;
    min-height: 50px;
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.logo img
{
    width: 200px;
}

.menu ul
{
    padding: 0;
}

.menu ul li
{
    display: inline-block;
    position: relative;
}
.menu ul li a
{
    padding: 10px 20px;
    text-decoration: none;
}
.submenu a:hover
{
    color: white;
    background-color: rgb(0, 0, 199);
}

.thumbnail
{
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 225px;
    margin: 25px;
    float: left;
    border-radius: 25px;
}

.thumbnail img
{
    width: 100%;
}

.footer
{
    background-color: #ccc;
    min-height: 50px;
    padding: 20px;
    text-align: center;
}

ul.submenu
{
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
}

ul.submenu li
{
    display: block;
}

ul.submenu li a
{
    display: block;
    padding: 5px 10px;
}

.menu ul li:hover ul.submenu
{
    display: block;
}

.jumbotron
{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: #aaa;
    background-image: url(img/logo/supermarkets.jpg);
    background-size: cover;
    position: relative;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.jumbotron h2,
.jumbotron p
{
    position: relative;
}

.kotak-beli-pulsa
{
    padding: 10px;
    margin: 10px;
    background-color: rgb(100, 100, 255);
    width: 300px;
    height: 160px;
    float: left;
    font-size: 20px;
}

.kotak-img-top-up
{
    padding: 10px;
    margin: 10px;
    background-color: rgb(100, 100, 255);
    width: 450px;
    height: 160px;
    float: left;
}

.kotak-top-up-now
{
    padding: 10px;
    margin: 10px;
    background-color: rgb(100, 100, 255);
    width: 330px;
    height: 160px;
    float: left;
}

.nomor
{
    background-color: white;
    padding: 10px;
    width: 225px;
    margin: 10px;
    float: left;
    border-radius: 25px;
    border: 10px;
}

.token-pulsa
{
    background-color: #ccc;
    height: 200px;
}

.beli-pulsa
{
    color: white;
}

.nomor-hp
{
    border-radius: 25px;
    margin: 10px;
}

.indosat
{
    background-color: yellow;
}

.t-sel
{
    background-color: red;
}

.three
{
    background-color: orange;
}

.xl
{
    background-color: rgb(0, 0, 146);
}

.kartu
{
    margin: 10px;
    border-radius: 25px;
}

.top-up
{
    width: 450px;
    height: 160px;
}

.img-top-up
{
    width: 450px;
    height: 160px;
}

.p-top-up
{
    text-align: center  ;
    color: #ccc;
}

.kotak-top-up-now,
.kotak-beli-pulsa,
.kotak-img-top-up
{
    border-radius: 25px;
    background-color: #ddd;
}

.button-top-up
{
    height: 35px;
    width: 100%;
    border-radius: 25px;
    font-size: 25px;
    background-color: yellow;
}

.button-top-up a
{
    text-decoration: none;
}

.judul-di-header
{
    font-size: 40px;
}

.atas-tetap
{
    background-color: #ccc;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 55px;
    color: white;
    margin-top: -21px;
    float: right;
}

.text
{
    color: white;
    margin: 10px;
    margin-top: 15px;
}

.dalemnya-atas-tetap
{
    float: left;
}

.search
{
    width: 750px;
    margin-left: 35px;
}

.link-masuk
{
    color: white;
    text-decoration: none;
    margin-left: 35px;
}

.link-daftar
{
    color: white;
    text-decoration: none;
    margin-right: 25px;
}

.keranjang
{
    width: 100px;
    height: 15px;
    background-color: white;
    color: blue;
    float: right;
    text-decoration: none;
    border-radius: 25px;
}

.p-top-up
{
    color: white;
}